<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<% @books.each do |post_image| %>
<div>
  <h3>Book detail</h3>
   <%= link_to book_path(book.id) do %>
     <%= image_tag book.get_image %>
   <% end %>
   <%= image_tag book.user.get_profile_image(100,100) %>
   <a hre><%= book.user.name %>
   <%= book.title_name %>
   <%= book.body %>
</div>
  <% end %>